body{
    background-image: url("backgroundimg.jpg");  
}
.adjust{
    font-size: larger;
    font-weight: 200; 
}
.head{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-spacing: 2px;
    color: white;
    filter: brightness(90%);
}
#table1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* color: whitesmoke; */
    border-radius: 30px;
    padding: 8px;
    border-style: groove;
    border-color: rgba(245, 245, 245, 0.909);
    background-color: rgba(245, 245, 245, 0.893);
    /* background-image: url(backgroundtable.jpg); */
}
#table2{
    /* text-align: center; */
    width: 60%;
    /* color: whitesmoke; */
    margin-left: auto;
    margin-top: 3px;
    margin-right: auto;
    border: dotted;
    border-radius: 45px;
    padding-bottom: 10px;
    padding: 20px;
    border-color: whitesmoke;
    /* background-color: aquamarine; */
    /* background-image: url(backgroundtable.jpg); */
    background-color:rgba(245, 245, 245, 0.877);
}
.middle,#inputimage{
    text-align: center;
    padding: 5px;
}
#tablerow{
    background-color: aliceblue;
    border: solid black;
    border-radius: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
}
button{
    background-color:whitesmoke;
    padding-top: 3px;
    border-style: solid;
    border-radius: 30px;
}
button:hover {
    background-color:black;
    color: white;
  }